
body {
  background-color: #a79ad7;
}

#DevDash {
  width: 400px;
  text-align: center;
  /* padding: 10px; */
  border: 1px ridge teal;
  box-shadow: 3px 3px 10px black;
  margin: 10px auto;
  display: block;
}

.car {
  margin: 50px 150px;
  margin-left: 100px;
  padding: 10px 15px;
  border: 1px ridge gray;
  box-shadow: 3px 3px 10px #5f5d69;
  width: 1550px;
  height: 100px;
  background-color: #c8cfce;
  z-index: 1;
  position: relative;
}

#cars-block {
  width: 100%;
  margin: 0px auto;
}

#finish-line {
  border: 1px solid white;
  background-color: white;
  width: 3px;
  height: 462px;
  margin-top: -515px;
  margin-left: 1676px;
  clear: left;
  display: block;
}

.cars {
  margin-left: 5px;
  width: 200px;
  /* text-align: center; */
  z-index: 4;
  position: relative;
  margin-top: -200px;
  padding-bottom: 15px;
}

#copyright {
  margin-top: 150px;
  text-align: center;
  color: #556986;
  width: 100%;
  display: block;
  font-size: 22px;
}

#leaderboard {
height: 75px;
margin: 30px auto;
}

.winner {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 48px;
  font-weight: bold;
  color: #f5f5f5;
  width: 575px;
  /* text-shadow: 1px 1px 5px purple, -1px 1px 5px purple; */
  border: 1px ridge purple;
  box-shadow: 1px 1px 5px teal, -1px 1px 5px purple;
  background-color: #5e779c;
}

.loser {
  display: none;
}

.road-lines {
  z-index: 2;
  position: relative;
  margin-left: 25px;
}